/*
  The Name:5840 holdings
  Author: 
  Support: 
  Description:5840 holdings
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1.default css
2.banner section 
-----------------------------------
*/


/* ==================== 1.default section start ===================== */
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* font family */
.font-pt-serif{
    font-family: "PT Serif", serif;
}
.font-roboto{
    font-family: "Roboto", serif;
}


body {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    font-family:"neue-haas-grotesk-display", sans-serif;
    color: #231F20;
}

/* lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}
main{
    position: relative;
    z-index: 9;
}
/* lenis */

/* scroll bar */
.os-scrollbar-handle {
    background: #9AB5CA;
}
body>.os-scrollbar {
    z-index: 999;
}
/* scroll bar */

img {
    max-width: 100%;
    height: auto;
}
/* animation */
.animation-line{
    overflow: hidden;
}
/* animation */

/* paralax img */
.trigger-parallax {
    overflow: hidden;
    position: relative;
}

.parallax-img {
    height: calc(100% + 120px);
    width: 100%;
    object-fit: cover;
    transform: translateY(0);
}

/* paralax img */
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-fix {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* container */
.container {
    max-width: 1336px;
}

/* z-index */
.z-4 {
    z-index: 4 !important;
}

/* z-index */

/* rotate text section start  */
.rotate-text-wrapper {
    position: fixed;
    width: 224px;
    height: 224px;
    z-index: 999;
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    mix-blend-mode: difference;
    filter: brightness(0) invert(1);
    transition: all 0.3s linear;
}
@keyframes rotateText {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.rotate-text {
    animation: rotateText 12s linear infinite;
}
.rotate-text-inner .inner-text {
    height: 124px;
    width: 160px;
    cursor: pointer;
}
/* rotate text section end  */

/* input */
input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="number"], 
input[type="password"], 
input[type="url"], 
textarea {
    width: 100%;
    padding: 12px;
    background: #fff;
    border: 1px solid #000;
    color: rgba(80, 80, 80, 0.50);
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 1;
}
textarea{
	height: 116px;
}
input:focus , textarea:focus{
	outline: none;
	box-shadow: none;
}
::placeholder {
    color: rgba(80, 80, 80, 0.50);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
/* input */



.animation-line p:last-child,
.mb-p p:last-child{
    margin-bottom: 0;
}

/* heading  style*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #9AB5CA;
    font-weight: 400;
    line-height: 1.2;
    font-family: "PT Serif", serif;
}

h1 {
    font-size: 87.163px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 30px;
}

h6 {
    font-size: 24px;
}

/* all button start */
.btn-wrapper {
    display: inline-block;
    position: relative;
    z-index: 1;
    height: 48px;
}
.btn-inner-info {
    color: #FFF;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    border: 1px solid #FFC588;
    padding: 11px 24.29px;
    overflow: hidden;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.btn-inner-info  svg {
    position: absolute;
    left: 0px;
    top: 0px;
    fill: none;
    stroke: #D8A876;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}
.btn-inner-info:hover {
    background-color: #434B56;
    transition: 0.3s ease-in-out;
}
.btn-inner-info:hover svg {
    stroke-dashoffset: -480;
}
  
  
/* all button end */
/* swiper section start */
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after ,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}
.swiper-icon-btn {
    height: 48px;
    width: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    background-color:transparent;
    transition: 0.3s ease-in-out;
    z-index: 9;
}
.swiper-icon-btn:hover{
    background-color: #9AB5CA;
}
.swiper-icon-btn svg {
    height: 16px;
    width: 16px;
}
 
.portfolio-slider .swiper-button-prev, 
.portfolio-slider .swiper-rtl .swiper-button-next {
    left: -96px;
    right: auto;
}
.portfolio-slider .swiper-button-next, 
.portfolio-slider .swiper-rtl .swiper-button-prev {
    right: -96px;
    left: auto;
}
.swiper-scrollbar {
    border-radius: 0;
    background: transparent;
    background-image: url('../images/portfolio/scroll-bar.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 50;
    height: 2px;
    width: calc(100% - 46 * var(--swiper-scrollbar-sides-offset,1%));
    transform: translateX(-50%);
}
.swiper-scrollbar-drag {
    left: 0;
    top: -2px;
    height: 6px;
    border-radius: 100px;
    background: linear-gradient(270deg, #9AB5CA 0%, #FFF 100%);
}
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}
.swiper-button-next.swiper-button-disabled.swiper-icon-btn ,
.swiper-button-prev.swiper-button-disabled.swiper-icon-btn {
    border-color: #C8C8C8;
}
.swiper-button-next.swiper-button-disabled.swiper-icon-btn svg path ,
.swiper-button-prev.swiper-button-disabled.swiper-icon-btn svg path {
    fill: #C8C8C8;
}
.swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: rgba(154, 181, 202, 0.5);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: linear-gradient(90deg, #9AB5CA 41.05%, rgba(154, 181, 202, 0.00) 50.03%), #C5D3DD;
}
/* swiper section end */


/* ==================== 1.default section end===================== */

/* ==================== 2.header section start ===================== */
.header-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 19px 0;

}
.header-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #000 41.76%, rgba(0, 0, 0, 0.00) 100%);
    z-index: -1;
}
.header-area .col:nth-child(1){
    max-width: 183px;
}
.header-logo img{
    max-width: 183px;
}
.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-menu ul li {
    display: inline-block;
    margin-right: 8px;
}
.main-menu ul li:last-child{
    margin-right: 0;
}
.main-menu ul li a > img {
    position: absolute;
    bottom: -7px;
    left: 0;
    display: block;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.main-menu ul li:hover a > img,
.main-menu ul li.active a > img{
    opacity: 1;
    visibility: visible;
}
.main-menu ul li a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 450;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    padding: 0 25px;
    transition: 0.3s ease-in-out;
}
.main-menu ul li.active a,
.main-menu ul li a:hover{
    color: #FFC588;
}
.menu-icon {
    height: 14px;
}
.menu-icon span {
    display: block;
    height: 2px;
    width: 36px;
    background-color: #fff;
    margin-bottom: 3px;
}
.menu-icon span:last-child{
    margin-bottom: 0;
}

/* offcanvas menu  start*/
.offcanvas{
    background: linear-gradient(0deg, rgba(37, 42, 50, 0.00) 0%, #252A32 53.09%), #434B56;
    border: 0;
}
.close-icon {
    border: 0;
    background: transparent;
    color: #FFF;
    text-align: center;
    font-family:"neue-haas-grotesk-display", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 4.8px;
}
/* offcanvas menu  end*/
/* ==================== 2.header section end ===================== */

/* ==================== 3.banner section start ===================== */
.banner-area{
    min-height: 100vh;
    padding: 150px 0 83px;
}
.banner-shap-img{
    left: -50%;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}
.banner-area::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), linear-gradient(70deg, rgba(0, 0, 0, 0.50) -0.59%, rgba(0, 0, 0, 0.00) 53.39%);
    z-index: 3;
}
.banner-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: multiply;
    z-index: 1;
}
.video-item {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    background-color: #000000;
}
.banner-content h1 {
    line-height: 0.92;
    margin-bottom: 30px;
}
.banner-content h1 span{
    color: #fff;
}
.banner-content p {
    color: #FFF;
    font-size: 24px;
    letter-spacing: 1.2px;
}
.banner-content .btn-wrapper {
    margin-top: 12px;
}
.separate-div{
    height: 8px;
    width: 100%;
    background-color: #9AB5CA;
}
/* ==================== 3.banner section end ===================== */

/* ==================== 4.our Journey section start ===================== */
.our-Journey-section{
    padding-bottom:64px;
}
.bg-common-color {
    position: relative;
    z-index: 1;
    background: #F0EFEF;
}
.bg-common-color::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(219deg, rgba(255, 255, 255, 0.00) 32.9%, rgba(255, 255, 255, 0.20) 84.89%), #F0EFEF;
}
.tp-brand-slider .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
} 
.tp-brand-slider .swiper-slide {
    width: auto;
    display: inline-block;
}
.tp-brand-img {
    display: flex;
    align-items: end;
    min-height: 83px;
}
.tp-brand-area {
    padding: 61px 0 35px;
}
.tp-brand-area::after ,
.tp-brand-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(50% - 200px);
    background: linear-gradient(90deg, #F0EFEF 41.3%, rgba(240, 239, 239, 0.00) 100%);
    z-index: 2;
}
.tp-brand-area::after {
    left: auto;
    right: 0;
    /* background: linear-gradient(90deg, #F0EFEF 41.3%, rgba(240, 239, 239, 0.00) 100%); */
    background: linear-gradient(-90deg, #F0EFEF 41.3%, rgba(240, 239, 239, 0.00) 100%);
}
.our-journey-content h2{
    line-height: 0.94;
}
.our-journey-content h2 span{
    color: #231F20;
}
.our-journey-content .btn-wrapper {
    margin-top: 30px;
}
.our-Journey-content-item {
    margin-top: 56px;
}
.our-Journey-content-info {
    max-width: 585px;
}
.our-Journey-content-info p{
    margin-bottom: 30px;
    color: #231F20;
    letter-spacing: 2.7px;
}
/* ==================== 4.our Journey section end ===================== */

/* ==================== 5.portfolio section start ===================== */
.bg-common-color-2{
    position: relative;
    z-index: 1;
    background: #434B56;
}
.bg-common-color-2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(37, 42, 50, 0.00) 0%, #252A32 53.09%), #434B56;
}
.section-title-caption-info  p{
    color: #fff;
    letter-spacing: 2.7px;
    max-width: 300px;
    margin-bottom: 0;
}
.section-title-caption-info .btn-wrapper {
    margin-top: 15px;
}
.portfolio-caption-line {
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
}
.portfolio-area .section-title-wrapper {
    padding: 140px 0 100px;
}
.portfolio-card {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.50);
    transition: 0.3s ease-in-out;
}
.portfolio-card-info{
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
.portfolio-slider-wrapper {
    padding-bottom: 38px;
}
.portfolio-slider {
    overflow: inherit;
}
.portfolio-slider-wrapper .container{
    max-width: 1192px;
}
.portfolio-card-content {
    position: absolute;
    left: 0;
    z-index: 9;
    transform: rotate(-90deg) translateX(30px);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.portfolio-card-content h5 {
    color: #F0EFEF;
    font-family:"neue-haas-grotesk-display", sans-serif;
    font-size: 27.322px;
    letter-spacing: 4.098px;
    position: relative;
    z-index: 1;
    padding: 0 22px 0 25px;
}
.portfolio-card-content h5 img {
    position: absolute;
    left: 0px;
    bottom: -12px;
    width: 100%;
}
.our-expertise-card a ,
.portfolio-card  a {
    position: absolute;
    top: -6px;
    right: 6px;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.portfolio-card:hover {
    box-shadow: 4px 8px 25px 0px rgba(0, 0, 0, 0.25);
}
.portfolio-card:hover .portfolio-card-info{
    border-color: #FFC588;
}
.portfolio-card:hover  a{
    top: 0px;
    opacity: 1;
    visibility: visible;
}
.portfolio-card:hover .portfolio-card-content{
    transform: rotate(-90deg) translateX(61px);
    opacity: 1;
    visibility: visible;
}
.portfolio-card-img{
    background: aliceblue;
}
.portfolio-card-img img{
    mix-blend-mode: luminosity;
}
.portfolio-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(205, 23, 53, 0.00) 0%, rgba(205, 23, 53, 0.90) 73.77%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    z-index: 1;
}
.portfolio-card:hover::before{
    opacity: 1;
    visibility: visible;
}

.portfolio-slider{
    padding-bottom: 90px;
}
.portfolio-slider .swiper-wrapper {
    align-items: end;
}
.portfolio-shape-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    pointer-events: none;
}
.portfolio-shape-img-2 {
    left: auto;
    right: 0;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(even) .portfolio-card::before {
    background: linear-gradient(180deg, rgba(36, 181, 241, 0.00) 0%, rgba(36, 181, 241, 0.90) 72.8%);
}
.portfolio-slider-wrapper .swiper-slide:nth-child(even) .portfolio-card:hover::before{
    opacity: 1;
    visibility: visible;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(even) .portfolio-card{
    height: 530px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(1) .portfolio-card{
    height: 570px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(2) .portfolio-card{
    height: 640px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(3) .portfolio-card{
    height: 530px;
    margin-bottom: 10px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(4) .portfolio-card{
    height: 658px;
    margin-bottom: -7px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(5) .portfolio-card{
    height: 595px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(6) .portfolio-card{
    height: 640px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(7) .portfolio-card{
    height: 520px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(8) .portfolio-card{
    height: 595px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(4) .portfolio-card{
    margin-bottom: -7px;
}
.portfolio-slider-wrapper .swiper-slide:nth-child(3) .portfolio-card{
    margin-bottom: 10px;
}
/* ==================== 5.portfolio section end ===================== */

/* ==================== 6.testimonial section start ===================== */
.testimonial-area{
    padding: 120px 0 64px;
}
.testimonial-area .container{
    max-width: 1404px;
}
.testimonial-content{
    max-width: 921px;
    margin-right: auto;
    margin-left: auto;
}
.testimonial-content img {
    max-width: 173px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
}
.testimonial-content blockquote {
    color: #434B56;
    font-family: "PT Serif", serif;
    font-size: 40px;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
}
.author-information-wrapper h6 {
    color:#25272B;
 font-family:"neue-haas-grotesk-display", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.author-information-wrapper p {
    color: #25272B;
 font-family:"neue-haas-grotesk-display", sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.author-information-wrapper {
    margin-top: 35px;
}
.testimonial-slider .swiper-icon-btn{
    border-color: #434B56;
}
.testimonial-slider .swiper-icon-btn svg path{
    fill: #434B56;
}
.testimonial-slider .swiper-horizontal>.swiper-pagination-bullets, 
.testimonial-slider .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom,  
.testimonial-slider .swiper-pagination-fraction {
    bottom: 0;
}
.testimonial-slider  .swiper-wrapper {
    margin-bottom: 50px;
}
/* ==================== 6.testimonial section end===================== */

/* ==================== 7.our expertise section start===================== */
.our-expertise-content h5 {
    color: #F0EFEF;
    font-family:"neue-haas-grotesk-display", sans-serif;
    font-size: 27.322px;
    letter-spacing: 4.098px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}
.our-expertise-content ,
.our-expertise-content h5 img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.our-expertise-content {
    bottom: 48px;
    z-index: 4;
}
.our-expertise-content h5 img {
    bottom: -20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.our-expertise-card{
    border-radius: 4px;
    box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.50);
    overflow: hidden;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;

}
.our-expertise-info{
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}
.expertise-img{
    background-color: aliceblue;
}
.expertise-img img{
    mix-blend-mode: luminosity;
    transition: all 0.3s ease-in-out;
    width: 100%;
    display: block;
}
.our-expertise-card::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 73.29%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.our-expertise-card a{
    right: 12px;
}
.our-expertise-card:hover a{
    top: 3px;
    opacity: 1;
    visibility: visible;
}
.our-expertise-card:hover  .our-expertise-content h5 img{
    opacity: 1;
    visibility: visible;
}
.our-expertise-card:hover .our-expertise-info{
    border-color: #FFC588;
}
.our-expertise-card:hover::before{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.our-expertise-card::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(32deg, rgba(0, 0, 0, 0.00) 83.31%, #000 100.03%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 73.29%);
    opacity: 0;
    visibility: visible;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.our-expertise-card:hover::after{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.our-expertise-card:hover{
    box-shadow: 4px 8px 25px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-11px);
}
.our-expertise-card:hover .expertise-img img{
    mix-blend-mode: normal;
}
.our-expertise-wrapper .row{
    --bs-gutter-x:15px;
}
.our-expertise-area .section-title-wrapper {
    padding: 85px 0 100px;
}
.our-expertise-area  .section-title-caption-info  p {
    max-width: 403px;
}
.our-expertise-area .portfolio-caption-line {
    left: -33px;
}
.our-expertise-area {
    padding-bottom: 64px;
}
.footer-left-wrapper{
    gap: 35px;
}
.tel-link{
    color:#FFF;
    font-family:"neue-haas-grotesk-display", sans-serif;
    letter-spacing: 2.7px;
    transition: all 0.3s ease-in-out;
}
.tel-link:hover{
    color: #91C9FF;
}
.socials-link-wrapper{
    gap: 18px;
}
.back-top-wrapper span{
    display: block;
}
.back-top-wrapper{
    color: #9AB5CA;
    font-family:"neue-haas-grotesk-display", sans-serif;
    font-size: 16px;
    font-weight: 450;
    transition: all 0.3s ease-in-out;
}
.socials-link-wrapper a svg path ,
.back-top-wrapper svg path{
    transition: all 0.3s ease-in-out;
}
.back-top-wrapper:hover{
    color: #fff;
}
.back-top-wrapper:hover svg path{
    fill:#fff;
}
.socials-link-wrapper a:hover svg path{
    fill:#9AB5CA;
}
.footer-logo img{
    max-width: 132px;
}
/* ==================== 7.our expertise section end===================== */

/* ==================== 7.footer section start===================== */
.copy-right-caption {
    color:#FFF;
    font-family:"neue-haas-grotesk-display", sans-serif;
    font-size: 14px;
    letter-spacing: 2.1px;
    margin-bottom: 0;
}
.policy-link{
    color:#FFF;
    font-size: 14px;
    letter-spacing: 2.1px;
    transition: all 0.3s linear;
}
.policy-link:hover{
    color: #91C9FF;
}
.footer-shape-img {
    display: block;
    margin: 35px 0;
}
.footer-area{
    background: #434B56;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 8;
    padding: 50px 0 16px;
}

.footer-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}
.footer-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 70.47%, #000 100%), linear-gradient(270deg, rgba(0, 0, 0, 0.00) 58.44%, rgba(0, 0, 0, 0.50) 100%);
    z-index: -1;
}
/* ==================== 7.footer section end===================== */
