/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/

/* min-width 1500 */
@media (max-width: 1600px) {

    
}
/* min-width 1440 */
@media (max-width: 1440px) {
    .tp-brand-area::after ,
    .tp-brand-area::before {
        width: calc(50% - 380px);
    }
}

/* max-width 1399 */
@media (max-width: 1399.98px) {

  /* ==================== 5.portfolio section start ===================== */
  .portfolio-slider .swiper-button-prev, .portfolio-slider .swiper-rtl .swiper-button-next {
        left: 0px;
    }
    .portfolio-slider .swiper-button-next, .portfolio-slider .swiper-rtl .swiper-button-prev {
        right: 0;
    }
  /* ==================== 5.portfolio section end ===================== */

}

/* max-width 1199 */
@media (max-width: 1199.98px) {


    .container{
        padding-right: 20px;
        padding-left: 20px;
    }





    .tp-brand-area::after ,
    .tp-brand-area::before {
        width: calc(50% - 300px);
    }
    /* ==================== 5.portfolio section start ===================== */
    .portfolio-area .section-title-caption-info {
        flex-direction: column;
        align-items: start !important;
    }
    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
        width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset,1%));
    }
    /* ==================== 5.portfolio section end ===================== */
}

/* max-width 991 */
@media (max-width: 991.98px) {
    h1 , h2 {
        font-size: 64px;
    }
    
    h3 {
        font-size: 48px;
    }
    
    h4 {
        font-size: 36px;
    }
    .row {
        --bs-gutter-y: 30px;
    }
    /* all padding */
    .testimonial-area ,
    .portfolio-area .section-title-wrapper {
        padding: 50px 0;
    }
    /* all padding */
    
    

/* ==================== 3.banner section start ===================== */
.banner-area {
    min-height: 740px;
    padding-bottom: 60px;
}
.banner-content p {
    font-size: 18px;
    letter-spacing: 0.9px;
}
.banner-area::before{
    display: none;
}
.banner-area::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 39.05%, #000 52.57%);
    mix-blend-mode: multiply;
}
/* ==================== 3.banner section end ===================== */

/* ==================== 4.our Journey section start ===================== */
.tp-brand-area {
    padding: 20px 0 40px;
}
.tp-brand-area::after ,
.tp-brand-area::before {
    width: 300px;
}
/* ==================== 4.our Journey section start ===================== */

/* ==================== 5.portfolio section start ===================== */
.portfolio-area .section-title-wrapper .row {
    --bs-gutter-y: 10px;
}
.portfolio-slider {
    padding-bottom: 50px;
}
/* ==================== 5.portfolio section end ===================== */


/* ==================== 6.our expertise section start ===================== */
.portfolio-card:hover ,
.our-expertise-card:hover {
    transform: translateY(0px);
}
/* ==================== 6.our expertise section end ===================== */

/* ==================== 6.testimonial section start ===================== */
.testimonial-content blockquote {
    font-size: 32px;
}
.testimonial-content {
    max-width: 600px;
}
/* ==================== 6.testimonial section end ===================== */


/* ==================== 7.footer section start===================== */
.footer-area {
    position: relative;
    padding: 20px 0 10px;
}
.footer-area .container{
    padding-right: 10px;
    padding-left: 10px;
}
.mobile-footer-bottom,
.mobile-footer-manu-wrapper{
    padding-left: 10px;
    padding-right: 10px;
}
.footer-area::after, .footer-area::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 76.65%, rgba(0, 0, 0, 0.80) 100%), #434B56;
    z-index: -1;
}
.footer-area::after{
    background: linear-gradient(0deg, rgba(37, 42, 50, 0.00) 66.32%, #252A32 100%), #434B56;
}
/* ==================== 7.footer section end===================== */






}

/* max-width 767 */
@media (max-width: 767.98px) {
    h1 , h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 36px;
    }
    
    h4 {
        font-size: 30px;
    }
    
    h5 {
        font-size: 24px;
    }
    
    h6 {
        font-size: 20px;
    }
    .tp-brand-area::after ,
    .tp-brand-area::before {
        width: 150px;
    }
    /* ==================== 5.portfolio section start ===================== */
    .portfolio-card-content {
        left: -20px;
    }
    /* ==================== 5.portfolio section start ===================== */

    /* ==================== 6.testimonial section start ===================== */
    .testimonial-content img {
        margin-bottom: 15px;
    }
    .testimonial-content {
        max-width: 400px;
    }
    .author-information-wrapper {
        margin-top: 25px;
    }
    .testimonial-slider  .swiper-wrapper {
        margin-bottom: 30px;
    }
    /* ==================== 6.testimonial section end ===================== */


    
}

/* max-width 575 */
@media (max-width: 575.98px) {
    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
        width: 100%;
    }
    .tp-brand-area::after ,
    .tp-brand-area::before {
        width: 115px;
    }
    /* ==================== 1.banner section start ===================== */
    .banner-content h1 {
        margin-bottom: 20px;
    }
    .banner-content p br{
        display: none;
    }
    .banner-content .btn-wrapper {
        margin-top: 20px;
    }
    /* ==================== 1.banner section end ===================== */
    /* ==================== 4.our Journey section start ===================== */
    .our-Journey-content-wrapper .row {
        --bs-gutter-y: 20px;
    }
    .our-Journey-content-info p {
        font-size: 18px;
        letter-spacing: 0.9px;
    }
    /* ==================== 4.our Journey section end ===================== */



/* ==================== 5.portfolio section start ===================== */
    .portfolio-area .section-title-wrapper .row {
        --bs-gutter-y: 17px;
    }
    .section-title-caption-info  p {
        max-width: 100%;
        font-size: 18px;
        letter-spacing: 0.9px;
    }
    .section-title-caption-info .btn-wrapper {
        margin-top: 35px;
    }
    .portfolio-area .section-title-wrapper{
        padding-bottom: 30px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(even) .portfolio-card .portfolio-card-img{
        height: 420px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(1) .portfolio-card .portfolio-card-img {
        height: 420px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(2) .portfolio-card .portfolio-card-img {
        height: 507px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(3) .portfolio-card .portfolio-card-img{
        height: 420px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(4) .portfolio-card .portfolio-card-img{
        height: 520px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(5) .portfolio-card .portfolio-card-img{
        height: 470px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(6) .portfolio-card  .portfolio-card-img{
        height: 450px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(7) .portfolio-card .portfolio-card-img{
        height: 430px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(8) .portfolio-card .portfolio-card-img{
        height: 507px;
    }
    .portfolio-slider  .swiper-icon-btn{
        display: none;
    }
    .portfolio-card-content h5 {
        font-size: 20px;
    }
/* ==================== 5.portfolio section end ===================== */

/* ==================== 6.testimonial section start ===================== */
.testimonial-slider .swiper-button-next, 
.testimonial-slider .swiper-button-prev {
    top: auto;
    margin-top: 0;
    bottom: 0;
}
.testimonial-slider .swiper-button-prev, 
.testimonial-slider .swiper-rtl .swiper-button-next {
    left: 50px;
}
.testimonial-slider .swiper-button-next, 
.testimonial-slider .swiper-rtl .swiper-button-prev {
    right: 50px;
}
.testimonial-line {
    margin-top: 52px;
}
.testimonial-slider {
    padding-bottom: 72px;
}
.testimonial-area{
    padding: 56px 0 64px;
}
.testimonial-slider .swiper-horizontal>.swiper-pagination-bullets, .testimonial-slider .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .testimonial-slider .swiper-pagination-fraction {
    bottom: 90px;
}
/* ==================== 6.testimonial section end ===================== */

/* ==================== 7.our expertise section start===================== */
.our-expertise-area .section-title-wrapper {
    padding: 55px 0 20px;
}

.our-expertise-area .section-title-wrapper .row {
    --bs-gutter-y: 16px;
}
.our-expertise-area  .section-title-caption-info  p {
    max-width: 100%;
}
.our-expertise-area .our-expertise-wrapper  .row {
    --bs-gutter-y: 20px;
}
.expertise-img img {
    height: 460px;
    object-fit: cover;
}
.our-expertise-area {
    padding-bottom: 55px;
}

/* ==================== 7.our expertise section end===================== */

}

/* max-width 479 */
@media (max-width: 479.98px) {

    /* ==================== 5.portfolio section end ===================== */
    .portfolio-card-content {
        left: -25px;
    }
    /* ==================== 5.portfolio section end ===================== */
}

/* max-width 383 */
@media (max-width: 383.98px) {

}