/* CSS Index
-----------------------------------
1.default css
2.header section 
3.banner section
	3.1 doc-origin-banner
	3.2 doc-origin-cloud
	3.3 oem-solution-banner
	3.4 jetform-banner
	3.5 manufacturing banner
	3.6 resources-banner-area 
	3.7 career-banner-area 
	3.8 event-banner-area
	3.9 blog-banner-area
	3.10 contact-banner-area
	3.11 request-demo-banner
	3.12 registration-banner 
	3.13 trends-banner
	3.14 latest-news-area
	3.15 error-banner
4.business card section
5.precision area section
6.outperform section
7.counter area section
8.modification section
9.multi Platform section
10.industries section
11.testimonial section
12.news area section
13.footer area section
14.doc-origin brochure section
15.unmatched section 
16.reliability section
17.technical specifications section
18.streamlined section
19.compliance section
20.proven across section
21.contact section
23.What is doc-origin cloud section
24.why choose doc-origin cloud section
25.doc-origin services team section start
26.generation system section
27.simplifying industries section
28.doc-origin cloud timeline section
29.key functions section
30.standard forms section
31.cta section
32.compliance standards section
33.solutions replacement section 
34.outdated section
35.normal section area
36.companies switch section
37.document switch section
38.bottomline technologies section
39.over bottomline section
40.bottomline-behind-area section
41.deserves better area section
42.form sample section 
43.our customers section 
44.support tickets section 
45.Case Study card section
46.global-reach-area section
47.join the team section
48.why eclipse section
49.our distributors section 
50.searching partners section
51.resources card section
52.template conversion service
53.contact card section
54.content block section
55.privacy policy section
56.registration contact section
57.registration contact section
58.single article section
59.search section

-----------------------------------
*/

/* min-width 1500 */
@media (max-width: 1600px) {

    
}
/* min-width 1440 */
@media (max-width: 1440px) {
    .tp-brand-area::after ,
    .tp-brand-area::before {
        width: calc(50% - 380px);
    }
}

/* max-width 1399 */
@media (max-width: 1399.98px) {

  /* ==================== 5.portfolio section start ===================== */
  .portfolio-slider .swiper-button-prev, .portfolio-slider .swiper-rtl .swiper-button-next {
        left: 0px;
    }
    .portfolio-slider .swiper-button-next, .portfolio-slider .swiper-rtl .swiper-button-prev {
        right: 0;
    }
  /* ==================== 5.portfolio section end ===================== */
  /* ==================== 12.gallery section start===================== */
    .gallery-wrapper {
        grid-template-columns: 1fr 1fr 1.5fr;
        gap: 15px;
    }
  /* ==================== 12.gallery section end===================== */

}
/* max-width 1299 */
@media (max-width: 1299px) {

/* ==================== 9.company section start===================== */
.specific-news-area-info-inner .specific-news-content-slider-area {
    max-width: calc(50% + 30px);
}

/* ==================== 9.company section end===================== */

/* ==================== 16.single team testimonial section start  ===================== */
.team-testimonial-img-wrapper {
    left: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 850px;
}
.single-team-testimonial-area {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    padding-bottom: 15px;
}
.author-information-wrapper  .signature-img {
    margin-right: auto;
    margin-left: auto;
}
.testimonial-content{
    text-align: center !important;
}
.single-team-testimonial-slider .swiper-horizontal>.swiper-pagination-bullets, .single-team-testimonial-slider .swiper-pagination-bullets.swiper-pagination-horizontal, .single-team-testimonial-slider .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 100%;
}
.team-testimonial-area {
    padding-top: 50px;
}

/* ==================== 16.single team testimonial section end  ===================== */




}

/* max-width 1199 */
@media (max-width: 1199.98px) {


    .container{
        padding-right: 20px;
        padding-left: 20px;
    }





    .tp-brand-area::after ,
    .tp-brand-area::before {
        width: calc(50% - 300px);
    }

    /* modal */
    .popup-img-wrapper {
        margin-left: 0;
    }
    .modal-content-wrapper {
        gap: 24px;
    }
    /* modal */
    /* ==================== 5.portfolio section start ===================== */
    .portfolio-area .section-title-caption-info {
        flex-direction: column;
        align-items: start !important;
    }
    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
        width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset,1%));
    }
    .swiper-btn-wrapper .swiper-text{
        display: none;
    }
    /* ==================== 5.portfolio section end ===================== */
    /* ==================== 12.gallery section start===================== */
    .gallery-wrapper {
        grid-template-columns: 0.5fr 0.5fr 1fr;
    }
    /* ==================== 12.gallery section end===================== */



}

/* max-width 991 */
@media (max-width: 991.98px) {
    h1 , h2 {
        font-size: 64px;
    }
    
    h3 {
        font-size: 48px;
    }
    
    h4 {
        font-size: 36px;
    }
    .row {
        --bs-gutter-y: 30px;
    }
    /* all padding */
    .page-template-template-contact .contact-area ,
    .excellence-area,
    .gallery-area ,
    .partnership-card-wrapper ,
    .partnership-area ,
    .our-expertise-area .section-title-wrapper,
    .testimonial-area ,
    .portfolio-area .section-title-wrapper {
        padding: 50px 0;
    }
    /* all padding */
    
       /* modal */ 
       .modal-content-wrapper {
            flex-direction: column-reverse;
        }
        .popup-img-wrapper {
            max-width: 100%;
        }
        .modal-inner-content {
            max-width: 100%;
        }
       /* modal */ 

       /* all display none */
       .partnership-area .partnership-content p br{
        display: none;
       }
       /* all display none */

       /* all min height */
       .partnership-card-info{
        min-height: auto;
       }
       /* all min height */
    /* ==================== 3.banner section start ===================== */
    .banner-area {
        min-height: 740px;
        padding-bottom: 55px;
    }
    .banner-content p {
        font-size: 18px;
        letter-spacing: 0.9px;
    }
    .banner-area::before{
        display: none;
    }
    .banner-bg-info::before {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 39.05%, #000 52.57%);
        mix-blend-mode: multiply;
    }
    /* ==================== 3.banner section end ===================== */

    /* ==================== 4.our Journey section start ===================== */
    .tp-brand-area {
        padding: 20px 0 40px;
    }
    .tp-brand-area::after ,
    .tp-brand-area::before {
        width: 300px;
    }
    /* ==================== 4.our Journey section start ===================== */

    /* ==================== 5.portfolio section start ===================== */
    .portfolio-area .section-title-wrapper .row {
        --bs-gutter-y: 10px;
    }
    .portfolio-slider {
        padding-bottom: 64px;
    }
    .portfolio-slider-wrapper {
        padding-bottom: 24px;
    }

    /* ==================== 5.portfolio section end ===================== */


    /* ==================== 6.our expertise section start ===================== */
    .portfolio-card:hover ,
    .our-expertise-card:hover {
        transform: translateY(0px);
    }
    .our-expertise-card{
        background: #F0EFEF !important;
    }
    .our-expertise-card::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 73.29%);
        mix-blend-mode: luminosity;
    }
    .our-expertise-info::before{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 73.29%);
    }
    .our-expertise-info::after{
        display: none;
    }
    .section-title-caption-info::before{
        display: none;
    }
    .section-title-caption-info .btn-wrapper {
        margin-top: 15px;
    }
    .our-expertise-area  .section-title-caption-info ,
    .portfolio-area  .section-title-caption-info  p ,
    .section-title-caption-info {
        max-width: 100%;
    }
    .our-expertise-area  .section-title-caption-info {
        margin-right: 0;
    }
    .our-expertise-content {
        bottom: 0;
    }
    /* ==================== 6.our expertise section end ===================== */

    /* ==================== 11.testimonial section start ===================== */
    .client-testimonial-content blockquote ,
    .testimonial-content blockquote {
        font-size: 32px;
    }
    .testimonial-content {
        max-width: 600px;
    }
    .testimonial-area  .container {
        padding-right: 24px;
        padding-left: 24px;
    }
    /* ==================== 11.testimonial section end ===================== */


    /* ==================== 13.footer section start===================== */
    .footer-area {
        position: relative;
        padding: 20px 0 10px;
    }
    .footer-area .container{
        padding-right: 10px;
        padding-left: 10px;
    }
    .footer-area .container .row {
        --bs-gutter-x: 20px;
    }
    .mobile-footer-bottom,
    .mobile-footer-manu-wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-area::after, .footer-area::before {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 76.65%, rgba(0, 0, 0, 0.80) 100%), #434B56;
        z-index: -1;
    }
    .footer-area::after{
        background: linear-gradient(0deg, rgba(37, 42, 50, 0.00) 66.32%, #252A32 100%), #434B56;
    }
    /* ==================== 13.footer section end===================== */

    /*================== 43.our customers section start ==================== */
    .specific-news-area-info-inner .specific-news-img-slider-area {
        position: relative;
        width: 100%;
        height: 400px;
    }
    .specific-news-area-info-inner {
        flex-direction: column;
    }
    .specific-news-content-slider,
    .specific-news-area-info-inner .specific-news-content-slider-area {
        max-width: 100%;
        margin-right: 0;
    }
    .specific-news-area-info-inner .specific-news-content-slider-area{
        padding: 30px 20px;
    }
    .specific-news-content-slider-area::before {
        bottom: 110px;
    }
    .specific-news-img-wrapper img {
        height: 400px;
    }
    /*================== 43.our customers section end ==================== */


    /* ==================== 11.client testimonial section start ===================== */
    .client-profile-wrapper {
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
    }
    .client-testimonial-area .row {
        flex-direction: column-reverse;
    }
    .client-shape-img {
        left: 50%;
        transform: translateX(-50%);
    }
    .client-testimonial-content {
        max-width: 100%;
        text-align: center;
    }
    /* ==================== 11.client testimonial section end ===================== */

    /* ==================== 12.gallery section start===================== */
    .gallery-wrapper {
        grid-template-columns: 1fr;
    }
    .gallery-item{
        height: 400px;
    }
    .gallery-item:nth-child(5)  ,
    .gallery-item:nth-child(4)  ,
    .gallery-item:nth-child(3) ,
    .gallery-item:nth-child(2),
    .gallery-item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1;
        height: 400px;
    }
    .gallery-item:nth-child(2) {
        grid-row: 2;
        height: 400px;
    }
    .gallery-item:nth-child(3) {
        grid-row: 3;
    }
    .gallery-item:nth-child(4) {
        grid-row: 4;
    }
    .gallery-item:nth-child(5) {
        grid-row: 4;
    }
    .gallery-item:nth-child(1) .gallery-info img {
        height: 400px;
    }
    /* ==================== 12.gallery section end===================== */

    /* ==================== 12.team modal start==================== */
    .team-modal-wrapper{
        flex-direction: column;
        gap: 14px;
        margin-bottom: 50px;
    }
    .team-modal-img-wrapper {
        max-width: 100%;
    }
    .team-modal-img-item:nth-child(1) {
        height: 450px;
    }
    .team-modal-img-item {
        height: 200px;
    }
    /* ==================== 12.team modal end===================== */


}

/* max-width 767 */
@media (max-width: 767.98px) {
    h1 , h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 36px;
    }
    
    h4 {
        font-size: 30px;
    }
    
    h5 {
        font-size: 24px;
    }
    
    h6 {
        font-size: 20px;
    }
    .tp-brand-area::after ,
    .tp-brand-area::before {
        width: 150px;
    }

    

    /* ==================== 6.testimonial section start ===================== */
    .testimonial-content img {
        margin-bottom: 25px;
    }
    .testimonial-content {
        max-width: 400px;
    }
    .author-information-wrapper {
        margin-top: 25px;
    }
    .testimonial-slider  .swiper-wrapper {
        margin-bottom: 30px;
    }
    /* ==================== 6.testimonial section end ===================== */

    /* partnership modal */
    .modal-partnership-wrapper-content {
        margin-bottom: 50px;
    }
    .pagination-btn span{
        display: none;
    }
    /* partnership modal */





    
}

/* max-width 575 */
@media (max-width: 575.98px) {


    /* modal */ 
    .modal-header {
        padding: 23px 12px;
    }
    .modal-body {
        padding: 16px 12px;
        padding-top: 0;
    }
    .modal-title-logo {
        margin-bottom: 28px;
    }
    .modal-inner-content p {
        letter-spacing: 0.9px;
    }
    .modal-inner-content .btn-wrapper {
        margin-top: 4px;
    }
    .modal-content-wrapper {
        gap: 30px;
    }
    /* partnership modal */
    .partnership-modal .modal-body {
        padding: 20px 30px;
    }
    .modal-pagination-wrapper::before {
        left: -30px;
        width: calc(100% + 60px);
    }
    /* partnership modal */
    /* modal */ 
    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
        width: 100%;
    }
    .tp-brand-area::after ,
    .tp-brand-area::before {
        width: 115px;
    }
    /* ==================== 1.banner section start ===================== */
    .banner-content h1 {
        margin-bottom: 20px;
    }
    .banner-content p br{
        display: none;
    }
    .banner-content .btn-wrapper {
        margin-top: 20px;
    }
    /* ==================== 1.banner section end ===================== */
    /* ==================== 4.our Journey section start ===================== */
    .company-card-wrapper  .row ,
    .our-Journey-content-wrapper .row {
        --bs-gutter-y: 20px;
    }
    .our-Journey-content-info p {
        font-size: 18px;
        letter-spacing: 0.9px;
    }
    /* ==================== 4.our Journey section end ===================== */



/* ==================== 5.portfolio section start ===================== */
    .portfolio-area .section-title-wrapper .row {
        --bs-gutter-y: 17px;
    }
    .section-title-caption-info  p {
        max-width: 100%;
        font-size: 18px;
        letter-spacing: 0.9px;
    }
    .section-title-caption-info .btn-wrapper {
        margin-top: 35px;
    }
    .portfolio-area .section-title-wrapper{
        padding-bottom: 30px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(even) .portfolio-card .portfolio-card-img{
        height: 420px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(1) .portfolio-card .portfolio-card-img {
        height: 420px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(2) .portfolio-card .portfolio-card-img {
        height: 507px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(3) .portfolio-card .portfolio-card-img{
        height: 420px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(4) .portfolio-card .portfolio-card-img{
        height: 520px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(5) .portfolio-card .portfolio-card-img{
        height: 470px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(6) .portfolio-card  .portfolio-card-img{
        height: 450px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(7) .portfolio-card .portfolio-card-img{
        height: 430px;
    }
    .portfolio-slider-wrapper .swiper-slide:nth-child(8) .portfolio-card .portfolio-card-img{
        height: 507px;
    }
    .portfolio-slider  .swiper-icon-btn{
        display: none;
    }
    .portfolio-card-content {
        left: calc(50% - 50px);
    }
/* ==================== 5.portfolio section end ===================== */

/* ==================== 6.testimonial section start ===================== */
.testimonial-slider .swiper-button-next, 
.testimonial-slider .swiper-button-prev {
    top: auto;
    margin-top: 0;
    bottom: 0;
}
.testimonial-slider .swiper-button-prev, 
.testimonial-slider .swiper-rtl .swiper-button-next {
    left: 50px;
}
.testimonial-slider .swiper-button-next, 
.testimonial-slider .swiper-rtl .swiper-button-prev {
    right: 50px;
}
.testimonial-line {
    margin-top: 52px;
}
.testimonial-slider {
    padding-bottom: 72px;
}
.testimonial-area{
    padding: 56px 0 64px;
}
.testimonial-slider .swiper-horizontal>.swiper-pagination-bullets, .testimonial-slider .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .testimonial-slider .swiper-pagination-fraction {
    bottom: 90px;
}
/* ==================== 6.testimonial section end ===================== */

/* ==================== 7.our expertise section start===================== */
.our-expertise-area .section-title-wrapper {
    padding: 55px 0 20px;
}

.our-expertise-area .section-title-wrapper .row {
    --bs-gutter-y: 16px;
}
.our-expertise-area  .section-title-caption-info  p {
    max-width: 100%;
}
.our-expertise-area .our-expertise-wrapper  .row {
    --bs-gutter-y: 20px;
}
.expertise-img img {
    height: 460px;
    object-fit: cover;
}
.our-expertise-area {
    padding-bottom: 55px;
}
.team-member-position ,
.team-card-content h5 ,
.sub-title ,
.partnership-card-content h5 ,
.our-expertise-content h5 {
    font-size: 21.4px;
    letter-spacing: 3.21px;
}
/* ==================== 7.our expertise section end===================== */

/* ==================== 8.partnership card section start===================== */
.partnership-card-icon img {
    height: 100px;
    width: 100px;
}
.partnership-card-content{
    min-height: auto;
}
/* ==================== 8.partnership card section end===================== */

/* ==================== 9.company section start===================== */
.company-logo {
    max-width: 150px;
}
.specific-news-content-slider-area::before {
    bottom: 125px;
}
.specific-news-content-slider .swiper-btn-wrapper {
    left: 50%;
    right: auto;
    margin-left: -80px;
}
.specific-news-content-slider .swiper-button-next.swiper-btn-wrapper {
    right: 50%;
    left: auto;
    margin-right: -80px;
}
.specific-news-content-slider  .swiper-horizontal>.swiper-pagination-bullets, 
.specific-news-content-slider  .swiper-pagination-bullets.swiper-pagination-horizontal, 
.specific-news-content-slider  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 60px;
}
/* ==================== 9.company section end===================== */
/* ==================== 12.gallery section start===================== */
    .gallery-item,
    .gallery-item:nth-child(1) .gallery-info img ,
    .gallery-item:nth-child(5)  ,
    .gallery-item:nth-child(4)  ,
    .gallery-item:nth-child(3) ,
    .gallery-item:nth-child(2),
    .gallery-item:nth-child(1) {
        height: 300px;
    }
/* ==================== 12.gallery section end===================== */

/* ==================== 16.single team testimonial section start  ===================== */
.team-testimonial-img-item > img {
    height: 200px;
    object-fit: cover;
}
.team-testimonial-img-item:nth-child(2) > img{
    height: 220px;
}
.team-testimonial-img-wrapper {
    max-width: 400px;
}
/* ==================== 16.single team testimonial section end  ===================== */




}

/* max-width 479 */
@media (max-width: 479.98px) {

    .partnership-card-icon img {
        height: 100px;
        width: 100px;
    }
    .team-modal-img-wrapper-info {
        grid-template-columns: 1fr;
    }
    .team-modal-img-item ,
    .team-modal-img-item:nth-child(1) {
        height: 350px;
    }
    .team-modal-content-info {
        margin-top: 15px;
    }

}

/* max-width 383 */
@media (max-width: 383.98px) {

}